.card {
  width: 25%;
  background-color: var(--primary-background-color);
  direction: rtl;
  color: var(--primary-text-color);
  padding: 2em;
  position: absolute;
  left: -25%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  transition: left 0.3s ease;
  z-index: 2000;
  overflow-y: auto;
}

.card.show {
  left: 0;
}

.availability {
  color: var(--available-text-color);
  font-family: "notoku-semi-bold", sans-serif;
  background-color: var(--available-background-color);
  padding: 0.2em 1em;
  border-radius: 0.2em;
  width: fit-content;
  margin-bottom: 3%;
  font-size: 0.75em;
}

.title {
  font-family: "notoku-bold", sans-serif;
  margin-bottom: 2%;
  font-size: 1.25em;
}

.description {
  font-family: "notoku-medium", sans-serif;
  margin-bottom: 6%;
  font-size: 0.8em;
}

.closeButton {
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 1em;
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff17;
}

.table {
  background-color: #ffffff16;
  display: flex;
  flex-direction: column;
  padding: 1em 1.2em;
  border-radius: 0.4em;
  gap: 0.8em;
}

.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemName {
  font-family: "notoku-regular", sans-serif;
  font-size: 0.75em;
}
